.row.justify-content-center.align-items-center.min-vh-100
  .col-12
    .jumbotron.text-center
      %table.table
        %thead
          %tr
            %th{:scope => "col"} RSS title
            %th{:scope => "col"} Notify with email
            %th{:scope => "col"} Actions
        %tbody
          - @user_feeds.each do |user_feed|
            %tr
              %th{:scope => "row"}
                = link_to user_feed.feed.title, feed_path(user_feed.feed_id)
              %td
                = check_box_tag "notify_#{user_feed.id}-#{rand(9999)}", user_feed.id, user_feed.notify, data: { remote: true, url: notify_feed_path(user_feed.id), method: "patch" }
              %td
                = link_to '',feed_path(user_feed.id), method: :delete, class: 'btn btn-primary fas fa-trash text-white', method: :delete, data: { confirm: 'Are u sure?' }
