.row.justify-content-center.align-items-center.feeds-container
  = render 'sidebar'
  .col-sm-12.p-3
    - @entries.each do |entry|
      .jumbotron.entry.p-3
        .row.entry-head
          .col-12
            = entry.title
        .hr.m-3
        .row.entry-body
          - if entry.img.present?
            .col-md-3.center-content
              = entry.img.html_safe
            .col-md-9.d-flex.justify-content-between.flex-column
              .entry-description
                = entry.description
              .d-flex.justify-content-between.pt-3
                %small
                  = entry.published
                = link_to 'more' , entry.url, target: :_blank, class: 'btn btn-primary text-white'
          - else
            .col-12
              .entry-description
                = entry.description
              .justify-content-beetween.align-self-end.pt-3
                %small
                  = entry.published
                = link_to 'more' , entry.url, target: :_blank, class: 'btn btn-primary text-white'



