%h3.text-center Log in
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-inputs
    = f.input :email,
      required: false,
      autofocus: true,
      input_html: { autocomplete: "email" }
    = f.input :password,
      required: false,
      input_html: { autocomplete: "current-password" }
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  .form-actions.login-page.center-content
    = f.button :submit, "Log in", class: 'btn btn-primary'
    %span.divider or
    = link_to '', root_path, class: 'fab external_login_icon fa-facebook fa-2x'
    = link_to '', root_path, class: 'pl-2 external_login_icon fab fa-github fa-2x'
.text-center
  = render "devise/shared/links"
