!!!
%html
  %head
    %title Rss App
    = csrf_meta_tags
    = csp_meta_tag
    %link{href: "favicon/favicon.ico", rel: "icon"}
    = stylesheet_pack_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body.d-flex.flex-column.app
    = render 'layouts/header'
    %main.bg-image
      .container-fluid.min-vh-100
        .row
          - if content_for?(:sidebar)
            .col-3.pl-0
              = yield :sidebar
            .col-9
              = render partial: 'layouts/flash', flash: flash
              = yield
          - else
            .col-12
              = render partial: 'layouts/flash', flash: flash
              = yield
    = render 'layouts/footer'
